@import '../node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: "DepartureMono-Regular";
  src: url("/fonts/DepartureMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Brasilero2018Free-Regular";
  src: url("/fonts/Brasilero2018Free-Regular.woff") format("woff");
  src: url("/fonts/Brasilero2018Free-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --light: #faf8f8;
  --lightgray: #e5e5e5;
  --gray: #b8b8b8;
  --darkgray: #4e4e4e;
  --dark: #2b2b2b;
  --secondary: #284b63;
  --tertiary: #84a59d;
  --highlight: #8f9fa926;
  --textHighlight: #fff23688;
  --accent: var(--tertiary);
  --salmon: #FF8465;

  --background-color: var(--light);
  --header-font-family: "Brasilero2018Free-Regular";

  --max-width: 1200px;
  --grid-gap: 1rem;
  --grid-columns: 12;
  --grid-max-width: 100%;
  --mobile-breakpoint: 768px;
}

html {
  font-size: 20px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3 {
  font-family: var(--header-font-family);
}

h1, h2, h3 {
  color: var(--dark);
  text-shadow: 4px 4px 2px var(--salmon);
  font-family: var(--header-font-family);
  font-size: clamp(1.2rem, 9vw, 6rem);
  font-weight: 400;
  letter-spacing: 0.08rem;
  text-transform: lowercase;
  text-align: left;
}

h1 {
  font-size: clamp(1.2rem, 9vw, 6rem);
}

h2 {
  font-size: clamp(1.2rem, 9vw, 4rem);
}

h3 {
  font-size: clamp(1.2rem, 9vw, 2rem);
}

pre {
  overflow-x: auto;
  overflow-y: hidden;
}

code {
  background-color: var(--textHighlight);
}

body {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: clamp(.8rem, 4vw, 1rem);
  background-color: var(--light);
  margin: 0;
  min-height: 100vh;
}

a {
  /* text-decoration: dashed; */
  text-decoration-thickness: .1em;
  color: initial
}

a:visited {
  color: initial;
}

img {
  display: block;
  max-width: 100%;
}

/* Simple responsive grid utility. */
.container {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gap);
  max-width: var(--grid-max-width);
  margin: 0 auto;
  padding: var(--grid-gap);
}

.container-wrapper {
  text-align: center;
  position: relative;
  max-width: var(--max-width);
  margin: 0 auto;
}


